doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel="stylesheet")
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')
    title Trillo &mdash; Your all-in-one booking app

    body
      .container
        header.header
          img.logo(src="img/logo.png", alt="Trillo logo")

          form.search(action="#")
            input.search__input(type="text", placeholder="Search hotels")
            button.search__button
              svg.search__icon
                use(xlink:href="img/sprites.svg#icon-magnifying-glass")
          nav.user-nav
            .user-nav__icon-box 
              svg.user-nav__icon
                use(xlink:href="img/sprites.svg#icon-bookmark")
                span.user-nav__notification
                  | 7
            .user-nav__icon-box 
              svg.user-nav__icon
                use(xlink:href="img/sprites.svg#icon-chat")
                span.user-nav__notification
                  | 13
            .user-nav__user
              img.user-nav__user-photo(src="img/user.jpg" alt="User photo")
              span.user-nav__user-name
                | Emanuel Casco
        .content
          nav.sidebar
            ul.sidebar-nav
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-home")
                  span
                    | Hotel
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-aircraft")
                  span
                    | Flight
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-key")
                  span
                    | Rent car
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-map")
                  span
                    | Tours
            .sidebar-legal
              | &copy; 2017 by 
              a.sidebar-legal__link(href="https://github.com/emanuelcasco", target="_blank")
                | Emanuel Casco

          main.hotel-view
            aside.gallery
              figure.gallery__item
                img.gallery__photo(src="img/hotel-1.jpg", alt="Photo hotel 1")
              figure.gallery__item
                img.gallery__photo(src="img/hotel-2.jpg", alt="Photo hotel 2")
              figure.gallery__item
                img.gallery__photo(src="img/hotel-3.jpg", alt="Photo hotel 3")
            .overview
              h1.overview__heading
                | Hotel "Las Palmas"
              .overview__stars
                - for(var i = 0; i < 5; i++)
                  svg.overview__icon-star
                    use(xlink:href="img/sprites.svg#icon-star")
              .overview__location
                  svg.overview__icon-location
                    use(xlink:href="img/sprites.svg#icon-location-pin")
                  button.btn-inline
                    | Cafayate, Salta
              .overview__rating
                .overview__rating-average
                  | 8.6
                .overview__rating-count
                  | 2.094 votes
            section.detail
              .detail__description
                .paragraph
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
                .paragraph
                  | Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
                ul.list
                  li.list__item
                    | Close the beach
                  li.list__item
                    | Breakfast included
                  li.list__item
                    | Free airport shuttle
                  li.list__item
                    | Free wifi in all rooms
                  li.list__item
                    | Air conditioning
                  li.list__item
                    | Pets allowed
                  li.list__item
                    | We speak all languages
                  li.list__item
                    | Perfect for families
                .recommend
                  p.recommend__count
                    | Lucy and 3 others friends recommend us.
                  .recommend__friends
                    img.recommend__photo(src="img/user-3.jpg", alt="Friend photo 1")
                    img.recommend__photo(src="img/user-4.jpg", alt="Friend photo 2")
                    img.recommend__photo(src="img/user-5.jpg", alt="Friend photo 3")
                    img.recommend__photo(src="img/user-6.jpg", alt="Friend photo 4")
              .detail__reviews
                figure.review
                  blockquote.review__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe.
                  figcaption.review__user
                    img.review__photo(src="img/user-1.jpg", alt="User photo")
                    .review__user-box
                      p.review__user-name
                        | Agustin Casco
                      p.review__user-date
                        | Feb 23rd, 2017
                    .review__rating
                      | 7.8
                figure.review
                  blockquote.review__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe.
                  figcaption.review__user
                    img.review__photo(src="img/user-2.jpg", alt="User photo")
                    .review__user-box
                      p.review__user-name
                        | Guadalupe Escobar
                      p.review__user-date
                        | Feb 23rd, 2017
                    .review__rating
                      | 5.6
                button.btn-inline
                  | Show all
                  span
                  | &rarr;
            section.cta
              h2.cta__book-now
                | Good news! We have free rooms for your selected dates!
              button.btn
                span.btn__visible
                  | Book now
                span.btn__invisible
                  | Only 4 rooms left
