doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel="stylesheet")
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')
    title Trillo &mdash; Your all-in-one booking app

    body
      .container
        header.header
          img.logo(src="img/logo.png", alt="Trillo logo")

          form.search(action="#")
            input.search__input(type="text", placeholder="Search hotels")
            button.search__button
              svg.search__icon
                use(xlink:href="img/sprites.svg#icon-magnifying-glass")
          nav.user-nav
            .user-nav__icon-box 
              svg.user-nav__icon
                use(xlink:href="img/sprites.svg#icon-bookmark")
                span.user-nav__notification
                  | 7
            .user-nav__icon-box 
              svg.user-nav__icon
                use(xlink:href="img/sprites.svg#icon-chat")
                span.user-nav__notification
                  | 13
            .user-nav__user
              img.user-nav__user-photo(src="img/user.jpg" alt="User photo")
              span.user-nav__user-name
                | Emanuel Casco
        .content
          nav.sidebar
            ul.sidebar-nav
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-home")
                  span
                    | Hotel
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-aircraft")
                  span
                    | Flight
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-key")
                  span
                    | Rent car
              li.sidebar-nav__item
                a.sidebar-nav__link(href="#")
                  svg.sidebar-nav__icon
                    use(xlink:href="img/sprites.svg#icon-map")
                  span
                    | Tours
            .sidebar-legal
              | &copy; 2017 by Emanuel Casco

          main.hotel-view
            | hotel