.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: $color-smoke-white;
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(black, .25);

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 1.5rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding: 1.5rem 0;
        left: 0;
        top: -100%;
    }

    &:hover {
        background-image: linear-gradient(to left, $color-primary-light, $color-primary);
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:active {
        transform: translateY(5px);
        box-shadow: 0 1rem 1.5rem rgba(black, .5);
    }

}

.btn-inline {
    border: none;
    color: $color-primary;
    font-size: inherit;
    border-radius: 0;
    border-bottom: 1px solid currentColor;
    padding: 2px 1rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: $color-grey-light;
        animation: pulsate 1s infinite;

        span { margin-left: 8px }
    }

    &:focus {
        outline: none;
    }
}