.btn {

  &-inline {
    border: none;
    color: $color-primary;
    font-size: inherit;
    border-radius: 0;
    border-bottom: 1px solid currentColor;
    padding: 2px 1rem;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: $color-grey-light;
        animation: pulsate 1s infinite;

        span { margin-left: 8px }
    }

    &:focus {
        outline: none;
    }
  }

}